@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

     :root {
    --fonte-bebas:'Bebas Neue', sans-serif;
    --fonte-padão:'system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif';
    --fonte-arial: Arial, Helvetica, sans-serif;

    --corrosa:rgb(255, 3, 66);
}
        
        *{
            margin: 0px;
            padding: 0px;
        }

        html , body {

            width: 100vw;
            height: 100vh;

        }

        header {

            text-align: center;
            font-family: var(--fonte-bebas);
            font-size: 30px;
            background-image: linear-gradient(to top , rgba(221, 5, 59, 0.897), rgba(211, 6, 40, 0.555));
            color: white;
            text-shadow: 1px 2px 1px black;
            height: 250px;
            margin: auto;
            
        }

        header h1 {
         padding-top: 60px;
        }

        menu {

            margin-top: 50px;
        }

        menu a {
           color: var(--corrosa);
            text-decoration: none;
            font-size: 20px;
            background-color: white;
            padding: 5px;
            border-radius: 5px;
            font-family: var(--fonte-arial);
            text-shadow: none;
            font-weight: bolder;
            border: 2px solid black;
        }

        menu a:hover {
            background-color: rgba(0, 0, 0, 0.836);
            color: white;
            
        }

            main {

                min-width: 200px;
                
                background-color: beige;
                width: 500px;
                height: 500px;
                text-align: center;
                margin: auto;
                border-radius: 5px;
                box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.349);
                margin-top: 10px;

            }

           

            article  p {
                font-family: var(--fonte-arial);
                font-size: 20px;
                padding-top: 30px;
            }
           
            